.DS_Store

.vscode/
.states/
.github/

node_modules/
lib/

# Compiler files
artifacts/
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/
/broadcast/

# Docs
docs/

# Dotenv file
.env*
